@charset "utf-8";
/* CSS Document */
:root {
	--theme-bg-color: white;
	--theme-secondary-bg-color: #EAEAEA;
	--theme-color: black;
	--theme-secondary-color: #E7584A;
	--theme-dark-color: black;
	--theme-text-color: black;
	--theme-active-color: red;
	--theme-color-preference: light;
}
body {
		color: black;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
        background: url(../../img/shadow_background.png) repeat;
}
p {
		color: black;
}
a, a:visited {
	color: var(--theme-text-color);
}
a:hover {
	color: var(--theme-active-color);
}
.titleSpan, label {
	color: var(--theme-text-color);
}