@charset "utf-8";
/* CSS Document */

body {
		color: #E5E5E5;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
        background: url(/img/classic_blue_background.png) repeat;
}
p {
		color: #E5E5E5;
}